{
  "plugins": ["prettier-plugin-go-template", "prettier-plugin-toml"],
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    },
    {
      "files": ["*.toml"],
      "options": {
        "parser": "toml"
      }
    }
  ]
}
