{
  "plugins": [
    "prettier-plugin-go-template",
    "prettier-plugin-toml",
    "prettier-plugin-lint-md"
  ],
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ["*.toml"],
      "options": {
        "parser": "toml"
      }
    }
  ]
}
